node_modules
dist
.vite
pnpm-lock.yaml
yarn.lock

.DS_Store

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Environment variables
.env
.env.local
.env.production
backend/.env
backend/.env.local

# Logs
*.log
npm-debug.log*
backend/*.log
